ul,
li {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100%;
  transition: all 0.8s;
}
.main {
  position: relative;
  width: 50em;
  padding: 2em;
  margin-right: 20em;
  margin-bottom: 2em;
  background: #fff;
  color: #373737;
}
.main header {
  font-size: 3em;
  padding: 1em 0;
}
.content {
  position: relative;
}
.sidebar {
  position: fixed;
  margin: 0 0 50em 55em;
  padding: 2%;
  background: #fff;
  z-index: 500;
}
.sidebar ul {
  position: relative;
  padding-left: 20px;
  font-size: 0.8em;
  overflow: hidden;
}
.sidebar ul li {
  list-style-type: disc;
  line-height: 2em;
}
.sidebar ul a {
  white-space: nowrap;
}
.sidebar ul a.overflow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 5em;
  height: 2em;
  background: linear-gradient(to right, rgba(255,255,255,0), #fff);
  z-index: 1;
}
.sidebar ul a.current {
  color: #bf0909;
}
h1 {
  color: #000;
}
h2 {
  border-bottom: 0.1em solid #363636;
}
article img {
  position: relative;
  max-width: 100%;
  cursor: zoom-in;
  transition: all 0.8s;
}
article img.oringinal {
  cursor: zoom-out;
  z-index: 100;
}
article p,
article ul,
article li,
article blockquote {
  line-height: 2em;
}
article p {
  color: #6a6a6a;
}
article blockquote {
  padding: 5px;
  padding-left: 30px;
  margin: 0;
  background: #f4f4f4;
  color: #585858;
  border-left: 8px solid #4d4d4d;
}
article ul {
  padding-left: 50px;
  list-style-type: disc;
}
.image-box {
  position: absolute;
  top: 0;
  left: 0;
  cursor: zoom-out;
  z-index: 100;
}
td.gutter pre {
  padding-left: 30px;
}
pre {
  overflow: auto;
}
.highlight .line span,
.highlight div.line {
  font-family: "Source Code Pro", Menlo, Consolas, XHei, "微软雅黑", "黑体" !important;
}
#nav-btn {
  display: none;
}
@media screen and (min-width: 70em) {
  .content {
    position: relative;
    width: 70em;
    margin: auto;
  }
  .main {
    width: 50em;
    margin-right: 20em;
  }
  .sidebar {
    width: 10em;
    margin-right: 0;
  }
}
@media screen and (max-width: 70em) and (min-width: 50em) {
  .content {
    width: 90%;
    margin: auto;
  }
  .main {
    width: 70%;
    margin-right: 30%;
  }
  .sidebar {
    width: 14%;
    right: 5%;
  }
}
@media screen and (max-width: 50em) {
  body {
    width: 100%;
    margin: 0;
    overflow-wrap: break-word;
  }
  .main {
    width: 90%;
    margin: 0;
    padding: 1em 5% 1em 5%;
  }
  blockquote {
    margin: 0;
  }
  .sidebar {
    display: none;
    right: 5%;
    bottom: 10%;
    width: 6em;
    margin: 0;
    color: #eee;
    background: rgba(0,0,0,0.5);
  }
  .sidebar ul li a {
    color: #eee;
  }
  .sidebar ul li a.overflow::after {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5));
  }
  .sidebar ul li a.current {
    color: #e29388;
  }
  #nav-btn {
    display: inline-block;
    position: fixed;
    right: 5%;
    bottom: 5%;
    font-size: 1em;
    padding: 0.5em;
    color: #eee;
    background: rgba(0,0,0,0.5);
  }
}
