ul,
li {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100%;
  transition: all 0.8s;
}
.main {
  position: relative;
  width: 50em;
  padding: 2em;
  margin-right: 20em;
  margin-bottom: 2em;
  background: #fff;
  color: #373737;
}
.main header {
  font-size: 3em;
  padding: 1em 0;
}
.content {
  position: relative;
}
.sidebar {
  position: fixed;
  margin: 0 0 50em 55em;
  padding: 2%;
  background: #fff;
  z-index: 500;
}
.sidebar ul {
  position: relative;
  padding-left: 20px;
  font-size: 0.8em;
  overflow: hidden;
}
.sidebar ul li {
  list-style-type: disc;
  line-height: 2em;
}
.sidebar ul a {
  white-space: nowrap;
}
.sidebar ul a.overflow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 5em;
  height: 2em;
  background: linear-gradient(to right, rgba(255,255,255,0), #fff);
  z-index: 1;
}
.sidebar ul a.current {
  color: #bf0909;
}
h1 {
  color: #000;
}
h2 {
  border-bottom: 0.1em solid #363636;
}
article img {
  position: relative;
  max-width: 100%;
  cursor: zoom-in;
  transition: all 0.8s;
}
article p,
article ul,
article li,
article blockquote {
  line-height: 2em;
}
article p {
  color: #6a6a6a;
}
article blockquote {
  padding: 5px;
  padding-left: 30px;
  margin: 0;
  background: #f4f4f4;
  color: #585858;
  border-left: 8px solid #4d4d4d;
}
article ul {
  padding-left: 50px;
  list-style-type: disc;
}
.image-box {
  position: absolute;
  top: 0;
  left: 0;
  cursor: zoom-out;
  z-index: 100;
}
td.gutter pre {
  padding-left: 30px;
}
pre {
  overflow: auto;
}
.highlight .line span,
.highlight div.line {
  font-family: "Source Code Pro", Menlo, Consolas, XHei, "微软雅黑", "黑体" !important;
}
#nav {
  display: none;
}
#back-to-top {
  display: none;
  position: fixed;
  bottom: 5%;
  margin: 0 10em 0 49em;
  padding: 0.5em;
  font-size: 1em;
  background: rgba(0,0,0,0.5);
  color: #eee;
  z-index: 500;
}
#back-to-top:hover {
  text-decoration: none;
}
.hidden {
  visibility: hidden;
}
#image-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 800;
  overflow: auto;
  background: rgba(0,0,0,0.5);
}
#image-view img {
  position: absolute;
  cursor: zoom-out;
}
#image-view img#inner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#image-view img#scroll-x {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#image-view img#scroll-y {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (min-width: 70em) {
  .content {
    position: relative;
    width: 70em;
    margin: auto;
  }
  .main {
    width: 50em;
    margin-right: 20em;
  }
  .sidebar {
    width: 10em;
    margin-right: 0;
  }
  #back-to-top {
    margin: 0 0 0 55em;
  }
}
@media screen and (max-width: 70em) and (min-width: 50em) {
  .content {
    width: 90%;
    margin: auto;
  }
  .main {
    width: 70%;
    margin-right: 30%;
  }
  .sidebar {
    width: 14%;
    right: 5%;
  }
  #back-to-top {
    margin: 0;
    right: 19%;
  }
}
@media screen and (max-width: 50em) {
  body {
    width: 100%;
    margin: 0;
    overflow-wrap: break-word;
  }
  .main {
    width: 90%;
    margin: 0;
    padding: 1em 5% 1em 5%;
  }
  blockquote {
    margin: 0;
  }
  .sidebar {
    display: none;
    right: 2em;
    bottom: 7em;
    width: 6em;
    margin: 0;
    color: #eee;
    background: rgba(0,0,0,0.5);
  }
  .sidebar ul li {
    width: 60%;
  }
  .sidebar ul li a {
    color: #eee;
  }
  .sidebar ul li a:hover {
    text-decoration: none;
  }
  .sidebar ul li a.overflow::after {
    content: '...';
    position: static;
    background: none;
  }
  .sidebar ul li a.current {
    color: #8bc3fe;
  }
  #nav {
    display: inline-block;
    position: fixed;
    right: 2em;
    bottom: 4.5em;
    font-size: 1em;
    padding: 0.5em;
    color: #eee;
    background: rgba(0,0,0,0.5);
  }
  #back-to-top {
    margin: 0;
    right: 2em;
    bottom: 2em;
  }
}
