ul,
li {
  margin: 0;
  padding: 0;
}
body {
  width: 80vw;
  margin-left: 10vw;
  margi-right: 10vw;
}
.main {
  position: relative;
  width: 50vw;
  padding: 50px;
  margin: 20px;
  background: #fff;
  color: #373737;
}
.sidebar {
  position: fixed;
  right: 10vw;
  width: 15vw;
  padding: 20px;
  background: #fff;
}
.sidebar ul {
  position: relative;
  padding-left: 20px;
  font-size: 0.8em;
  overflow: hidden;
}
.sidebar ul li {
  list-style-type: disc;
  line-height: 2em;
}
.sidebar ul a {
  white-space: nowrap;
}
.sidebar ul a.overflow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 5em;
  height: 2em;
  background: linear-gradient(to right, rgba(255,255,255,0), #fff);
  z-index: 1;
}
.sidebar ul a.current {
  color: #bf0909;
}
p.title {
  font-size: 3em;
}
h1 {
  color: #000;
}
h2 {
  border-bottom: 0.1em solid #363636;
}
article img {
  position: relative;
  max-width: 100%;
  cursor: zoom-in;
  transition: all 0.8s;
}
article img.oringinal {
  cursor: zoom-out;
  z-index: 100;
}
article p,
article ul,
article li,
article blockquote {
  line-height: 2em;
}
article p {
  color: #6a6a6a;
}
article blockquote {
  padding: 5px;
  padding-left: 30px;
  margin-left: 0;
  background: #f4f4f4;
  color: #585858;
  border-left: 8px solid #4d4d4d;
}
article ul {
  padding-left: 50px;
  list-style-type: disc;
}
.image-box {
  position: absolute;
  top: 0;
  left: 0;
  cursor: zoom-out;
  z-index: 100;
}
td.gutter pre {
  padding-left: 30px;
}
pre {
  overflow: auto;
}
.highlight .line span,
.highlight div.line {
  font-family: "Source Code Pro", Menlo, Consolas, XHei, "微软雅黑", "黑体" !important;
}
