body pre,
body .highlight {
  background: #2d2d2d;
  margin: 0 -10;
  padding: 15px 10;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 2em;
}
body .highlight .gutter pre,
body .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
body pre,
body code {
  font-family: font-mono;
}
body code {
  background: color-background;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
body pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
body .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
body .highlight table {
  margin: 0;
  width: auto;
}
body .highlight td {
  border: none;
  padding: 0;
}
body .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
body .highlight figcaption a {
  float: right;
}
body .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
body .highlight .line {
  height: 2em;
}
body .highlight .line.marked {
  background: #515151;
}
body .gist {
  margin: 0 -10;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 10 15px 0;
}
body .gist .gist-file {
  border: none;
  font-family: font-mono;
  margin: 0;
}
body .gist .gist-file .gist-data {
  background: none;
  border: none;
}
body .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
body .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
body .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
body .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 10;
}
body .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
body .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
body {
  margin: 0;
  background: #f6f6f6;
  font-family: XHei, '微软雅黑', '黑体';
  font-size: 100%;
}
ul.article-list {
  width: 60vw;
  list-style-type: none;
  padding-left: 0;
  margin: auto;
}
ul.article-list >li {
  position: relative;
  padding: 20px;
  margin: 40px 0;
  background: #fff;
  box-shadow: 0 0 30px #ccc;
  color: #888;
}
ul.article-list >li a {
  color: #1c5698;
}
ul.article-list >li .mask {
  position: absolute;
  left: 0;
  bottom: 65px;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
}
ul.article-list >li .content {
  text-align: center;
  z-index: 50;
}
ul.article-list >li .content a::after {
  content: ' >';
  line-height: 2em;
}
a {
  color: #1674a3;
  text-decoration: none;
}
a:visited {
  color: #1674a3;
}
a:hover {
  text-decoration: underline;
}
header#top ul,
footer .social,
.info ul {
  display: inline-block;
  padding-left: 0;
  list-style-type: none;
}
header#top ul li,
footer .social li,
.info ul li {
  display: inline-block;
}
header#top {
  width: 100%;
  height: 4em;
  background: #fff;
  overflow: hidden;
  margin-bottom: 2em;
}
header#top div {
  margin-left: 12vw;
  display: inline-block;
}
header#top div img {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  margin-right: 10px;
}
header#top div a {
  color: #000;
}
header#top div a:hover {
  text-decoration: none;
}
header#top div a:visited {
  color: #000;
}
header#top >ul {
  padding-left: 10vw;
  margin-top: 1em;
}
header#top >ul li {
  display: inline-block;
  list-style: none;
}
header#top >ul li a {
  display: inline-block;
  padding: 5px 10px;
  color: #000;
}
header#top >ul li a:hover {
  text-decoration: none;
  color: #1571d3;
}
header#top >ul li a:hover:visited {
  color: #1571d3;
}
header#top >ul li a:visited {
  color: #000;
}
footer {
  width: 55vw;
  margin: 2em auto;
  text-align: center;
}
footer .social {
  margin: auto;
}
footer .social li {
  color: #555;
  margin: 0.5em 2em;
}
footer .social li a {
  color: #555;
  font-size: 2em;
  border-radius: 50%;
  vertical-align: middle;
  transition: all 0.8s;
}
footer .social li a:hover {
  color: #2a2a2a;
  text-decoration: none;
}
.info {
  font-size: 12px;
  color: #686868;
}
.info .category {
  position: absolute;
  top: -15px;
  left: -20px;
  height: 40px;
  padding: 0;
  background: #31b976;
  box-shadow: 5px 5px 5px #ddd;
  font-size: 1.5em;
}
.info .category::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #228253;
  border-left: 20px solid transparent;
}
.info .category::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 20px solid #31b976;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #31b976;
}
.info .category ul {
  list-style-type: none;
  padding: 0;
}
.info .category ul li a {
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
}
.info .category ul li a:hover {
  text-decoration: none;
}
.info div {
  display: inline-block;
}
.info span {
  margin-left: 10px;
}
.info ul li {
  display: inline-block;
  margin: 0 10px 6px 10px;
  padding: 0;
}
.info ul li a {
  display: inline-block;
  padding: 0 10px;
  font-size: 0.9em;
  line-height: 2em;
}
.info ul li a.article-tag-list-link {
  position: relative;
  background: #1f859f;
  color: #fff;
}
.info ul li a.article-tag-list-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -1em;
  border-left: 1em solid #1f859f;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
}
.info ul li a.article-tag-list-link:hover {
  text-decoration: none;
  background: #0b5466;
}
.info ul li a.article-tag-list-link:hover::after {
  border-left: 1em solid #0b5466;
}
@media screen and (min-width: 70em) {
  ul.article-list {
    width: 50em;
  }
}
@media screen and (max-width: 70em) and (min-width: 50em) {
  ul.article-list {
    width: 50em;
  }
}
@media screen and (max-width: 800px) {
  body {
    margin-top: 0;
    overflow-x: hidden;
    margin: 0;
  }
  ul.article-list {
    width: 100%;
    margin: 0;
  }
  header#top {
    height: auto;
    margin: 0 0 8% 0;
  }
  header#top div.icon {
    margin: 0;
    width: 100%;
    padding: 5%;
    border-bottom: 0.2vw solid #ddd;
  }
  header#top >ul {
    margin: 2%;
    padding-left: 0;
    display: block;
  }
  footer {
    position: static;
    width: 100%;
  }
  footer div {
    width: 100%;
    text-align: center;
  }
}
